.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.button {
  width: 100%;
  font-family: 'yg-jalnan';
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 1.2rem;
  text-align: center;

  background-color: var(--gray-color-500);
  color: white;

  transition: all 0.1s;
  cursor: pointer;

  position: relative;
}
.button::after {
  content: none;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px #eee;
}

.button:hover {
  transform: translateY(2px);
}

.button--start {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-dark-color);
  box-shadow: 2px 4px 0px var(--primary-dark-color);
}

.button--history {
  background-color: var(--gray-color-600);
  border: 2px solid var(--gray-color-700);
  box-shadow: 2px 4px 0px var(--gray-color-700);
}
