.game-history,
.game-history__winner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-history h2 {
  font-size: 2rem;
  font-family: 'yg-jalnan';
}

.game-history__winner {
  gap: 0.2rem;
  margin: 1rem 0;
}

.game-history {
  text-align: center;
}
