.buttons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.button {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  font-family: 'yg-jalnan';
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 1.2rem;
  text-align: center;

  background-color: var(--gray-color-500);
  color: white;

  transition: all 0.1s;
  cursor: pointer;

  position: relative;
}
.button::after {
  content: none;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px #eee;
}

.button:hover {
  transform: translateY(2px);
}

.button--primary,
.button--start {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-dark-color);
  box-shadow: 2px 4px 0px var(--primary-dark-color);
}

.button--history,
.button--secondary {
  background-color: var(--gray-color-600);
  border: 2px solid var(--gray-color-700);
  box-shadow: 2px 4px 0px var(--gray-color-700);
}

.button--route {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  padding: 0;
  color: var(--gray-color-600);
  background-color: var(--gray-color-200);
  transition: all 0.2s;
  position: absolute;
  left: 0;
  top: 0;
  margin: 1rem;
}
.button--route:hover {
  transform: none;
  background-color: var(--gray-color-300);
}
.button--route svg {
  scale: 1.8;
}

.button--undo {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-dark-color);
  box-shadow: 2px 4px 0px var(--primary-dark-color);
}
.button--undo:disabled {
  cursor: not-allowed;
  background-color: var(--gray-color-600);
  border: 2px solid var(--gray-color-700);
  box-shadow: 2px 4px 0px var(--gray-color-700);
}
