:root {
  --primary-color: #3a58ff;
  --primary-dark-color: #334ee7;

  --gray-color-100: #eeeeee;
  --gray-color-200: #e5e5e5;
  --gray-color-300: #d3d3d3;
  --gray-color-400: #cecece;
  --gray-color-500: #bbbbbb;

  --white-color: #ffffff;
}
