.game-setting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 40px;
  padding: 1.5rem;
}

.game-setting__title {
  font-family: 'yg-jalnan';
  width: 100%;
  margin: 1.5rem 0;
  padding: 0.8rem 1rem;

  text-align: center;

  color: white;
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-dark-color);
  border-radius: 24px;
  border-radius: 20px;
  box-shadow: 2px 4px 0px var(--secondary-dark-color);

  transition: all 0.1s;
  cursor: default;
}

.game-setting__condition {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  gap: 1rem;
}

.game-setting__condition label {
  margin-top: 0.4rem;
  font-weight: bold;
}

.game-setting__condition-controller {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  background-color: white;

  border-radius: 1rem;
  border: 3px solid var(--gray-color-500);
  padding: 1rem;
}

.game-setting__controller {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.game-setting__controller input {
  width: 40px;

  border: none;
  outline: none;

  cursor: auto;
  text-align: center;
  font-size: 1.2rem;
}

.game-setting__controller button {
  cursor: pointer;
  border: none;
  width: 28px;
  height: 28px;
  border-radius: 100%;

  font-size: 0.7rem;
  color: var(--white-color);
  background-color: var(--gray-color-500);
}

.game-setting__controller button:hover {
  background-color: var(--gray-color-400);
}

.game-setting__controller--down,
.game-setting__controller--up {
  margin-top: 5px;
}

.game-setting__button {
  margin: 0 auto;
  margin-top: 1rem;
}
.game-setting__button .button--start {
  width: 500px;
}
